# Handle Front Controller Pattern
<IfModule mod_rewrite.c>
    RewriteEngine on

    # Ensure all requests are correctly routed to public/index.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Disable Directory Browsing
Options -Indexes

# PHP Settings
<IfModule mod_php8.c>
    php_value upload_max_filesize 64M
    php_value post_max_size 64M
    php_value max_execution_time 300
    php_value max_input_time 300
</IfModule>
